/* ===== Animated Backgrounds ===== */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Original class for the navbar background */
// .animated-navbar-bg {
//   background: linear-gradient(-45deg, #000000, #0a1f0a, #3b3b1e, #0c0c1a);
//   background-size: 400% 400%;
//   animation: gradient-animation 15s ease infinite;
// }

/* New class for animated cards or other elements */
.animated-card-bg {
  background: linear-gradient(-45deg, #000000, #0a1f0a, #3b3b1e, #0c0c1a);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

/* ===== Masked Animation Button Styles ===== */
// Font Imports
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

// SCSS Mixin for the button effect
@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

// Keyframe animations for the mask effect
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

// Button Container Base Styles
.button-container-1, .button-container-2, .button-container-3 {
  position: relative;
  width: 80px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  
  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* ===== Custom fonts & helpers ===== */
/* Embed Brittany Signature font (placed in public/fonts) */
@font-face {
  font-family: 'Brittany Signature';
  src: url('/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-brittany {
  font-family: 'Brittany Signature', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

// Text mask layer
.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  overflow: hidden;
  font-weight: bold;
}

// Specific Button Styles
.button-container-1 {
  margin-top: 1vh;
  button {
    @include button(
      #000,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      none,
      #fff
    );
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
    }
  }
}

.button-container-2 {
  margin-top: 1vh;
  button {
    @include button(
      #000,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
      3000%,
      100%,
      none,
      #fff
    );
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}

.button-container-3 {
  margin-top: 1vh;
  button {
    @include button(
      #000,
      "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
      7100%,
      100%,
      none,
      #fff
    );
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
    }
  }
}

